.ChangeThemeButton {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  @media (max-width: 1024px) and (min-width: 671px) {
    width: 48px;
    height: 48px;
  }
  padding: 0;
  background-color: transparent;
  border: 0;
  margin-right: 32px;
  transition: opacity 0.25s ease-in-out;
  align-self: center;
  cursor: pointer;

  @media (max-width: 1024px) {
    margin: 0;
  }

  &:hover {
    opacity: 0.6;
  }
}
