@import "../variables";

.Footer {
  background-color: $footer-background-colour;
  padding: 31px 0;

  @media (max-width: 670px) {
    padding: 20px 0;
  }

  &__container {
    width: calc(1184 / 1280 * 100%);
    max-width: 1184px;
    margin: 0 auto;

    @media (max-width: 1024px) {
      width: calc(738 / 834 * 100%);
      max-width: 738px;
    }

    @media (max-width: 670px) {
      min-width: 310px;
    }
  }

  &__copyright {
    font-size: 1.125rem;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.025em;
    margin: 0;

    @media (max-width: 670px) {
      font-size: 1rem;
      text-align: center;
    }
  }
}
