@use "../variables.scss" as vars;

.SkillCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: vars.$card-background-colour;
  border-radius: 20px;
  width: 100px;

  -webkit-box-shadow: 0px 0px 0px 1px vars.$card-shaodw-colour;
  box-shadow: 0px 0px 0px 1px vars.$card-shaodw-colour;

  &__icon {
    width: 64px;
    height: 64px;
    margin: 18px 18px 16px;
  }

  &__caption {
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.025em;
    font-weight: 900;
    margin: 0 auto 18px;
    text-align: center;
  }
}
