@use "../variables.scss" as vars;

.SkillsList {
  width: calc(760 / 1120 * 100%);
  max-width: 760px;
  margin: 0 0 48px;

  @media (max-width: 1024px) {
    width: calc(496 / 738 * 100%);
    max-width: 496px;
  }

  @media (max-width: 670px) {
    width: 100%;
    max-width: 316px;
    margin-bottom: 32px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &__title {
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: 0.025em;
    font-weight: 900;
    margin: 0 0 16px;
    min-width: 100%;
  }

  &__card-container {
    width: 100%;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 32px calc(32 / 1120 * 100%);

    @media (max-width: 1024px) {
      grid-template-columns: repeat(4, minmax(100px, 1fr));
      gap: 32px;
    }

    @media (max-width: 670px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 8px calc(8 / 316 * 100%);
    }
  }
}
