@use "../variables.scss" as vars;

.SkillCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: vars.$cardbgcolour;
  border-radius: 20px;

  &__icon {
    width: 64px;
    height: 64px;
    margin: 18px 18px 16px;
  }

  &__caption {
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.025em;
    font-weight: 900;
    margin: 0 auto 18px;
    text-align: center;
  }
}
