.SocialLinks {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  &__link {
    margin: 0 8px;
    transition: opacity 0.25s ease-in-out;
    &:hover {
      opacity: 0.6;
    }
    @media (max-width: 1024px) {
      margin: 0 16px;
    }
    @media (max-width: 670px) {
      margin: 0 8px;
    }
  }

  &__icon {
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
    @media (max-width: 1024px) {
      width: 64px;
      height: 64px;
    }
    @media (max-width: 670px) {
      width: 48px;
      height: 48px;
    }
  }
}
