$bgcolour: var(--main-bg-colour);
$menubgcolour: var(--menu-bg-colour);
$navbgcolour: var(--nav-bg-colour);
$cardbgcolour: var(--card-bg-colour);
$footerbgcolour: var(--footer-bg-colour);
$navbordercolour: var(--nav-border-colour);
$textcolour: var(--text-colour);
$linkcolour: var(--link-colour);
