$background-colour: var(--main-bg-colour);
$menu-background-colour: var(--menu-bg-colour);
$nav-background-colour: var(--nav-bg-colour);
$card-background-colour: var(--card-bg-colour);
$footer-background-colour: var(--footer-bg-colour);
$nav-border-colour: var(--nav-border-colour);
$text-colour: var(--text-colour);
$link-colour: var(--link-colour);
$card-shaodw-colour: var(--card-shadow-colour);
